
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; overflow: hidden; }

#app { width: 100%; min-height: 100vh; display: flex; flex-direction: column; }

h1, h2 { font: 500 42px/1.2 $titleFontFamily; }
// h3 { font: 500 24px/1.2 $titleFontFamily; }
h4 { font: 500 18px/21px $titleFontFamily; }
// h5 { font: 500 14px/1.2 $titleFontFamily; }

p { font: normal 14px/1.5 $mainFontFamily; }
b { font-weight: bold; }
// i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active, &:focus { color: $linkColor_hover; }

  svg { transition: fill .3s ease-out; }
}

.container { width: $mobileWidth; margin: 0 auto; padding: 0 1.25rem; background: transparent; display: grid; grid-gap: 1.25rem .625rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { position: relative; grid-column: 1 / 7; }

  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-gap: 1.25rem; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; padding: 0 2.5rem; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-gap: 2.5rem; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) {}
}

@media screen and (min-width: $tabletWidth) {
  body { overflow: visible; }
}
@media screen and (min-width: $laptopWidth) {
  body { scrollbar-width: thin; scrollbar-color: $Blue $LightGrey; }

  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $Blue; outline: none; }
  ::-webkit-scrollbar-corner { background: $Blue; }
  ::-webkit-resizer { background: $LightGrey; }

  h1 { font-size: 100px; }
  h2 { font-size: 64px; }
  // h3 { font-size: 32px; }
  h4 { font-size: 24px; line-height: 28px; }
  // h5 { font-size: 20px; }

  p { font-size: 20px; }

  a:hover { color: $linkColor_hover; }
}


/* Form styles */
.button {
  a { width: 100%; height: 3.75rem; border: 1px solid $linkColor; border-radius: 30px; padding: 0 2rem; background: $linkColor; color: $NightBlack; font: 500 20px/1 $titleFontFamily; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:active, &:focus { border-color: $linkColor_hover; background: $linkColor_hover; color: $NightBlack; }
  }

  &--special a { border-color: $Pink; background: transparent; color: $Pink; }

  &--banner a { width: auto; height: 2.5rem; border-color: $bannerButtonBackground; border-radius: 20px; background: $bannerButtonBackground; color: $Pink; font-size: 16px;
    &:active, &:focus { border-color: $Blue; background: $Blue; }
  }

  @media screen and (min-width: $laptopWidth) {
    a { width: auto; font-size: 24px;
      &:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $NightBlack; }
    }

    &--banner a { height: 3.75rem; border-radius: 30px;
      &:hover { border-color: $Blue; background: $Blue; }
    }

    &--wide a { padding: 0 4rem; }
  }
}


/* Layout styles */
header { position: fixed; top: 0; height: 65px; background: $NightBlack; transition: all .6s ease-in-out; @include z-index('header');
  &.hidden { transform: translateY(-100%); }

  .container { height: 65px;
    .header { display: flex; justify-content: space-between; align-items: center;
      &-logo { margin-top: .3125rem; display: flex;
        a { display: flex;
          img { width: 170px; height: 24px; flex: none; }
        }
      }
      &-menu { display: none; }
      &-menu-bar { display: flex; align-items: center;
        a { color: $White; display: flex;
          &:active svg { stroke: $linkColor_hover; }

          svg { width: 22px; height: 18px; stroke: $White; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .header {}
    }
    @media screen and (min-width: $laptopWidth) { height: 115px;
      .header {
        &-logo { margin: 0 3.125rem 0 0;
          a img { width: 255px; height: 36px; }
        }
        &-menu { display: flex;
          ul { display: flex; align-items: center;
            li {
              &:not(:first-child) { margin-left: 3.125rem; }

              a { color: $White; font-size: 20px; line-height: 24px; white-space: nowrap;
                &:hover { color: $linkColor_hover; }
              }
            }
          }
        }
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .header {}
    }
  }

  @media screen and (min-width: $laptopWidth) { height: 115px; }
}

main { flex-grow: 1; @include z-index('main'); }

footer { background: $Black; user-select: none; @include z-index('footer');
  .container { padding: 3.125rem 1.25rem 2.5rem;
    .footer { display: flex; flex-direction: column;
      &__main { margin-bottom: 2.25rem; }
      &__text p { color: $White; line-height: 17px; cursor: text; }

      &-logo { margin-bottom: .9375rem; display: flex;
        img { width: 170px; height: 24px; fill: $White; flex: none; }
      }

      &-menu { margin-bottom: 3rem; display: flex;
        ul { display: flex; flex-wrap: wrap;
          li { width: calc((100% - .625rem) / 2);
            &:nth-child(even) { margin-left: .625rem; }
            &:nth-child(n + 3) { margin-top: .625rem; }

            a { color: $White; font-size: 14px; line-height: 17px;
              &:active, &:focus { color: $linkColor_hover; }
            }
          }
        }
      }

      &-social { display: flex; align-items: center;
        &__link { display: flex;
          &:not(:last-child) { margin-right: 1.625rem; }

          a { color: $White; display: flex;
            &:active svg, &:focus svg { fill: $linkColor_hover; }

            svg { fill: $White; flex: none;
              &.twitter { width: 35px; height: 28px; }
              &.telegram { width: 30px; height: 25px; }
              &.discord { width: 39px; height: 30px; }
            }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .footer {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 4rem 2.5rem 3.75rem;
      .footer { flex-direction: row; justify-content: space-between;
        &__main { width: 32.625rem; margin: 0 18.125rem 0 0; }
        &__text p { line-height: 24px; }

        &-logo { margin-bottom: 1.625rem;
          img { width: 255px; height: 36px; }
        }

        &-menu { width: 29.6875rem; margin: 0 2.5rem 0 0;
          ul li { width: calc((100% - .9375rem) / 2);
            &:nth-child(even) { margin-left: .9375rem; }
            &:nth-child(n + 3) { margin-top: .9375rem; }

            a { font-size: 20px; line-height: 24px;
              &:focus { color: $White; }
              &:active, &:hover { color: $linkColor_hover; }
            }
          }
        }

        &-social { height: 30px;
          &__link a:hover svg { fill: $linkColor_hover; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .footer {}
    }
  }
}


/* Module styles */
@import 'module/banner';
@import 'module/menu';


/* Page styles */
@import 'page/index';
