extends include/main

block variables
  - let title = 'MoneyTree'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__illustration.index__illustration--lines
          img(src='/image/illustration/lines.svg' alt='illustration')
        .index__illustration.index__illustration--lines-2
          img(src='/image/illustration/lines.svg' alt='illustration')
        .index__illustration.index__illustration--shapes
          img(src='/image/illustration/shapes.svg' alt='illustration')
        .index__main
          .index__title
            h1 Lorem ipsum Money Tree
          .index__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          .index__buttons
            .button
              a(href='#' title='Join community') Join community
            .button.button--special
              a(href='#' title='Presale') Presale
          .index-social
            .index-social__link
              a(href='//twitter.com/MoneyTree' target='_blank' title='Twitter')
                svg.twitter
                  use(href='/image/icon/twitter.svg#twitter')
            .index-social__link
              a(href='tg://resolve?domain=MoneyTree' target='_blank' title='Telegram')
                svg.telegram
                  use(href='/image/icon/telegram.svg#telegram')
            .index-social__link
              a(href='//discord.com/channels/MoneyTree' target='_blank' title='Discord')
                svg.discord
                  use(href='/image/icon/discord.svg#discord')
            .index-social__image
              img(src='/image/illustration/underlines.svg' alt='illustration')
  section#about
    .container
      .about.content
        .about__illustration.about__illustration--tree
          picture
            source(srcset='/image/illustration/tree.svg' media='(min-width: 1024px)' type='image/svg+xml')
            img(src='/image/illustration/tree.m.svg' alt='illustration')
        //- .about__illustration.about__illustration--leaves
        //-   img(src='/image/illustration/leaves.svg' alt='illustration')
        .about__illustration.about__illustration--cloud
          img(src='/image/illustration/cloud.svg' alt='illustration')
        .about__illustration.about__illustration--cloud-2
          img(src='/image/illustration/cloud.svg' alt='illustration')
        .about__illustration.about__illustration--cloud-3
          img(src='/image/illustration/cloud.svg' alt='illustration')
        .about__illustration.about__illustration--cloud-4
          img(src='/image/illustration/cloud-small.svg' alt='illustration')
        .about__illustration.about__illustration--cloud-5
          img(src='/image/illustration/cloud-small.svg' alt='illustration')
        .about__illustration.about__illustration--cloud-6
          img(src='/image/illustration/cloud-small.svg' alt='illustration')
        .about__illustration.about__illustration--cloud-7
          img(src='/image/illustration/cloud-small.svg' alt='illustration')
        .about__illustration.about__illustration--roots
          img(src='/image/illustration/roots.svg' alt='illustration')
        .about__illustration.about__illustration--lines
          img(src='/image/illustration/lines.svg' alt='illustration')
        .about__main
          .about__title
            h2 About
          .about__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          .about__button
            .button.button--wide
              a(href='#' title='Learn more') Learn more
        .about__image
          img(src='/image/illustration/about.svg' alt='illustration')
  section#listing
    .container
      .listing.content
        .listing__title
          h2 Listing 24 hours after presale
        ul.listing-list
          li.listing-list__item
            a(href='#' title='Crypto')
              img(src='/image/illustration/listing/1.png' srcset='/image/illustration/listing/1@2x.png 2x' loading='lazy' alt='illustration')
          li.listing-list__item
            a(href='#' title='CoinGecko')
              img(src='/image/illustration/listing/2.png' srcset='/image/illustration/listing/2@2x.png 2x' loading='lazy' alt='illustration')
          li.listing-list__item
            a(href='#' title='Live Coin Watch')
              img(src='/image/illustration/listing/3.png' srcset='/image/illustration/listing/3@2x.png 2x' loading='lazy' alt='illustration')
          li.listing-list__item
            a(href='#' title='CoinMarketCap')
              img(src='/image/illustration/listing/4.png' srcset='/image/illustration/listing/4@2x.png 2x' loading='lazy' alt='illustration')
  section#roadmap
    .container
      .roadmap.content
        .roadmap__illustration.roadmap__illustration--lines
          img(src='/image/illustration/lines-small.svg' alt='illustration')
        .roadmap__illustration.roadmap__illustration--lines-2
          img(src='/image/illustration/lines-2.svg' alt='illustration')
        .roadmap__illustration.roadmap__illustration--coin
          img(src='/image/illustration/coin.svg' alt='illustration')
        .roadmap__main
          .roadmap__title
            h2 Roadmap
          .roadmap__text
            p Our journey with MoneyTree is planned in several stages. Here's our roadmap:
          ul.roadmap-points
            li.roadmap-points__item
              .roadmap-points__label Q3 2023
              .roadmap-points__title
                h4 Conceptualization and Development
              ul.roadmap-points-list
                li.roadmap-points-list__item
                  p Develop the MoneyTree concept and business model.
                li.roadmap-points-list__item
                  p Assemble the core development team and advisors.
                li.roadmap-points-list__item
                  p Develop the native MoneyTree token (MTT) smart contract.
                li.roadmap-points-list__item
                  p Conduct a security audit of the MTT smart contract.
            li.roadmap-points__item
              .roadmap-points__label Q4 2023
              .roadmap-points__title
                h4 Pre-Launch and Testing
              ul.roadmap-points-list
                li.roadmap-points-list__item
                  p Design and develop the MoneyTree platform's user interface and experience.
                li.roadmap-points-list__item
                  p Conduct alpha and beta testing of the platform.
                li.roadmap-points-list__item
                  p Conduct a second security audit.
                li.roadmap-points-list__item
                  p Begin marketing initiatives and community building.
            li.roadmap-points__item
              .roadmap-points__label Q1 2024
              .roadmap-points__title
                h4 Initial Token Offering and Platform Launch
              ul.roadmap-points-list
                li.roadmap-points-list__item
                  p Launch the Initial Token Offering (ITO) for MTT.
                li.roadmap-points-list__item
                  p Public launch of the MoneyTree platform.
                li.roadmap-points-list__item
                  p Users can start staking MTT tokens and planting their money trees.
                li.roadmap-points-list__item
                  p Begin first phase of partnerships with other DeFi platforms.
            li.roadmap-points__item
              .roadmap-points__label Q2 2024
              .roadmap-points__title
                h4 Growth and Expansion
              ul.roadmap-points-list
                li.roadmap-points-list__item
                  p Introduce additional features and upgrades based on user feedback.
                li.roadmap-points-list__item
                  p Increase marketing initiatives to drive user adoption.
                li.roadmap-points-list__item
                  p Establish more partnerships with leading DeFi platforms.
                li.roadmap-points-list__item
                  p Conduct regular audits to ensure the platform's security and performance.
            li.roadmap-points__item
              .roadmap-points__label Q3 2024
              .roadmap-points__title
                h4 Consolidation and Future Development
              ul.roadmap-points-list
                li.roadmap-points-list__item
                  p Enhance the scalability of the MoneyTree platform to accommodate growing user base.
                li.roadmap-points-list__item
                  p Explore and develop additional uses for MTT within the MoneyTree ecosystem.
                li.roadmap-points-list__item
                  p Begin development of mobile applications for iOS and Android.
                li.roadmap-points-list__item
                  p Regular review and updates of the platform's tokenomics to ensure sustainability and competitiveness.
            li.roadmap-points__item
              .roadmap-points__label Q4 2024
              .roadmap-points__title
                h4 Towards a Greener Future
              ul.roadmap-points-list
                li.roadmap-points-list__item
                  p Release of mobile applications.
                li.roadmap-points-list__item
                  p Implementation of user-suggested features and improvements.
                li.roadmap-points-list__item
                  p Continual growth of the MoneyTree ecosystem through partnerships and collaborations.
                li.roadmap-points-list__item
                  p Reinvestment of profits to continually grow and improve the platform.
        .roadmap__image
          img(src='/image/illustration/roadmap.svg' alt='illustration')
  section#tokenomics
    .container
      .tokenomics.content
        .tokenomics__illustration.tokenomics__illustration--lines
          img(src='/image/illustration/lines-small.svg' alt='illustration')
        .tokenomics__illustration.tokenomics__illustration--lines-2
          img(src='/image/illustration/lines-2.svg' alt='illustration')
        .tokenomics__title
          h2 Tokenomics
        .tokenomics__main
          .tokenomics__info
            .tokenomics-chart
              a(href='//moneytree-1.gitbook.io/money-tree/overview/tokenomics' target='_blank' title='Tokenomics')
                svg(viewbox='0 0 198 198' xmlns='http://www.w3.org/2000/svg')
                  path(d='M198 99C198 153.676 153.676 198 99 198C44.3238 198 0 153.676 0 99C0 44.3238 44.3238 0 99 0C153.676 0 198 44.3238 198 99ZM53.9761 99C53.9761 123.866 74.134 144.024 99 144.024C123.866 144.024 144.024 123.866 144.024 99C144.024 74.134 123.866 53.9761 99 53.9761C74.134 53.9761 53.9761 74.134 53.9761 99Z')
                  path.use.use-1(d='M99.0002 3.24707C119.221 3.24707 138.924 9.64871 155.283 21.5345C171.642 33.4202 183.819 50.1799 190.068 69.4115C196.316 88.6431 196.316 109.359 190.068 128.591C183.819 147.822 171.642 164.582 155.283 176.468L127.142 137.735C135.321 131.792 141.41 123.412 144.534 113.796C147.658 104.18 147.658 93.8221 144.534 84.2063C141.41 74.5906 135.321 66.2107 127.142 60.2678C118.962 54.3249 109.111 51.1241 99.0002 51.1241L99.0002 3.24707Z')
                  path.use.use-2(d='M155.287 176.471C138.928 188.357 119.225 194.758 99.004 194.758L99.004 146.881C109.115 146.881 118.966 143.68 127.146 137.737L155.287 176.471Z')
                  path.use.use-3(d='M99.0002 194.755C88.9522 194.755 78.9668 193.174 69.4105 190.069L84.2054 144.535C88.9835 146.087 93.9762 146.878 99.0002 146.878L99.0002 194.755Z')
                  path.use.use-4(d='M69.4105 190.069C54.0712 185.085 40.2393 176.307 29.1985 164.549L64.0993 131.775C69.6198 137.654 76.5357 142.043 84.2054 144.535L69.4105 190.069Z')
                  path.use.use-5(d='M29.1985 164.549C19.5447 154.269 12.2808 141.983 7.92592 128.57L53.4631 113.786C55.6405 120.492 59.2724 126.635 64.0993 131.775L29.1985 164.549Z')
                  path.use.use-6(d='M7.93263 128.591C1.68392 109.359 1.68391 88.6431 7.93262 69.4116C14.1813 50.18 26.3579 33.4203 42.7173 21.5345L70.8587 60.2678C62.6791 66.2107 56.5908 74.5906 53.4664 84.2064C50.3421 93.8221 50.3421 104.18 53.4664 113.796L7.93263 128.591Z')
                  path.use.use-7(d='M42.7174 21.5345C59.0767 9.64869 78.779 3.24706 99.0002 3.24707L99.0002 51.1241C88.8896 51.1241 79.0385 54.3249 70.8588 60.2678L42.7174 21.5345Z')
            ul.tokenomics-transcript
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--blue
                .tokenomics-transcript__desc Presale - 40%
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--purple
                .tokenomics-transcript__desc Liquidity - 10%
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--lilac
                .tokenomics-transcript__desc Team - 5%
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--light-pink
                .tokenomics-transcript__desc Staking Pool - 8%
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--peach
                .tokenomics-transcript__desc Marketing - 7%
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--light-orange
                .tokenomics-transcript__desc Ecosystem Growth - 20%
              li.tokenomics-transcript__item
                .tokenomics-transcript__color.tokenomics-transcript__color--orange
                .tokenomics-transcript__desc CEX Listing - 10%
          ul.tokenomics-info
            li.tokenomics-info__item
              .tokenomics-info__name Name
              .tokenomics-info__desc MoneyTree
            li.tokenomics-info__item
              .tokenomics-info__name Symbol
              .tokenomics-info__desc ENG
            li.tokenomics-info__item
              .tokenomics-info__name Total Supply
              .tokenomics-info__desc 1.000.000.000
            li.tokenomics-info__item
              .tokenomics-info__name Chain
              .tokenomics-info__desc BNB Chain
            li.tokenomics-info__item
              .tokenomics-info__name Smart contact
              .tokenomics-info__desc fwefregheiugh3587hg4ggrthhrt
            li.tokenomics-info__item
              .tokenomics-info__text
                p Buy - 1% for Development
            li.tokenomics-info__item
              .tokenomics-info__text
                p Sell - 1% in Liquidity
  section#certificates
    .container
      .certificates.content
        .certificates__illustration.certificates__illustration--lines
          img(src='/image/illustration/lines.svg' alt='illustration')
        .certificates__title
          h2 Certificates
        .certificates__text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        ul.certificates-list
          li.certificates-list__item.certificates-list__item--pink
            a(href='#' title='SAFU') SAFU
          li.certificates-list__item.certificates-list__item--pink
            a(href='#' title='AUDIT') AUDIT
          li.certificates-list__item
            a(href='#' title='KYC') KYC
          li.certificates-list__item
            a(href='#' title='DOXX') DOXX
  section#how-to-buy
    .container
      .how-to-buy.content
        .how-to-buy__illustration.how-to-buy__illustration--lines
          img(src='/image/illustration/lines-small.svg' alt='illustration')
        .how-to-buy__illustration.how-to-buy__illustration--lines-2
          img(src='/image/illustration/lines-2.svg' alt='illustration')
        .how-to-buy__title
          h2 How to buy
        ul.how-to-buy-steps
          li.how-to-buy-steps__item
            .how-to-buy-steps__icon
              img(src='/image/icon/arrow-down.svg' alt='icon')
            .how-to-buy-steps__count Step 1
            .how-to-buy-steps__title
              h4 Download CryptoWallet
            .how-to-buy-steps__text
              p You will first need to download a crypto wallet such as MetaMask or Trust Wallet. They are free and can be used either via a browser extension on a PC or via mobile app.
          li.how-to-buy-steps__item
            .how-to-buy-steps__icon
              img(src='/image/icon/arrow-down.svg' alt='icon')
            .how-to-buy-steps__count Step 2
            .how-to-buy-steps__title
              h4 Purchase or Hold BNB
            .how-to-buy-steps__text
              p You will need to hold some Binance Coin (BNB) in your crypto wallet - both to convert into $PULSE and to cover gas (transaction) fees. BNB can be bought via any trusted crypto exchange or broker and simply transferred into the wallet, or directly on the wallet with both MetaMask and Trust Wallet.
          li.how-to-buy-steps__item
            .how-to-buy-steps__icon
              img(src='/image/icon/arrow-down.svg' alt='icon')
            .how-to-buy-steps__count Step 3
            .how-to-buy-steps__title
              h4 Open Pancakeswap page
            .how-to-buy-steps__text
              p Click on this link to open the pancakeswap website to buy tokens. Click on “I acknowledge the risk” and click on Proceed.
          li.how-to-buy-steps__item
            .how-to-buy-steps__icon
              img(src='/image/icon/arrow-down.svg' alt='icon')
            .how-to-buy-steps__count Step 4
            .how-to-buy-steps__title
              h4 Connect Crypto Wallet to Pancakeswap Page
            .how-to-buy-steps__text
              p Connect your Crypto wallet to PancakeSwap to trade $BNB to $PULSE.
          li.how-to-buy-steps__item
            .how-to-buy-steps__icon
              img(src='/image/icon/arrow-down.svg' alt='icon')
            .how-to-buy-steps__count Step 5
            .how-to-buy-steps__title
              h4 Complete the Buy Transaction
            .how-to-buy-steps__text
              p To Buy $PULSE token, you will simply enter the amount of BNB that your want to buy and click on “Swap” button, after it the crypto wallet will pop up showing the information, you need to click on “Confirm Swap” to confirm the transaction to complete the process.
          li.how-to-buy-steps__item
            .how-to-buy-steps__icon
              img(src='/image/icon/arrow-down.svg' alt='icon')
            .how-to-buy-steps__count Step 6
            .how-to-buy-steps__title
              h4 View the Bought Tokens
            .how-to-buy-steps__text
              p After successful transaction- tokens will appear in your wallet automatically. If it’s not visible automatically, you may need to add it manually by adding the token details in the crypto wallet.
          li.how-to-buy-steps__bg
  section#partners
    .container
      .partners.content
        .partners__illustration.partners__illustration--shapes
          img(src='/image/illustration/shapes.svg' alt='illustration')
        .partners__illustration.partners__illustration--lines
          img(src='/image/illustration/lines-2.svg' alt='illustration')
        .partners__title
          h2 Partners
        .partners__main
          ul.partners-list.swiper-wrapper
            - for (let i = 1; i <= 2; i++)
              li.partners-list__item.swiper-slide
                a(href='#' target='_blank' title='Bscscan')
                  img(src='/image/illustration/partners/1.png' srcset='/image/illustration/partners/1@2x.png 2x' loading='lazy' alt='illustration')
                  span Bscscan
              li.partners-list__item.swiper-slide
                a(href='#' target='_blank' title='Coingecko')
                  img(src='/image/illustration/partners/2.png' srcset='/image/illustration/partners/2@2x.png 2x' loading='lazy' alt='illustration')
                  span Coingecko
              li.partners-list__item.swiper-slide
                a(href='#' target='_blank' title='Coinmarket')
                  img(src='/image/illustration/partners/3.png' srcset='/image/illustration/partners/3@2x.png 2x' loading='lazy' alt='illustration')
                  span Coinmarket
              li.partners-list__item.swiper-slide
                a(href='#' target='_blank' title='Dextools')
                  img(src='/image/illustration/partners/4.png' srcset='/image/illustration/partners/4@2x.png 2x' loading='lazy' alt='illustration')
                  span Dextools
              li.partners-list__item.swiper-slide
                a(href='#' target='_blank' title='Metamask')
                  img(src='/image/illustration/partners/5.png' srcset='/image/illustration/partners/5@2x.png 2x' loading='lazy' alt='illustration')
                  span Metamask
              li.partners-list__item.swiper-slide
                a(href='#' target='_blank' title='Pancakeswap')
                  img(src='/image/illustration/partners/6.png' srcset='/image/illustration/partners/6@2x.png 2x' loading='lazy' alt='illustration')
                  span Pancakeswap
          .partners-nav
            .partners-nav__prev
              svg
                use(href='/image/icon/arrow.svg#arrow')
            .partners-nav__next
              svg
                use(href='/image/icon/arrow.svg#arrow')
