
/* Brand colors */
$Black                     : #000000;
$NightBlack                : #121213;
$DarkGrey                  : #a9a9a9;
$LightGrey                 : #f1f1f1;
$White                     : #ffffff;

$DarkBlue                  : #2c81fe;
$Blue                      : #59b2ff;
$Pink                      : #ff75ca;
$Orange                    : #ec6b29;
$Beige                     : #f9efe3;

$Purple                    : #8b9fef;
$Lilac                     : #c889db;
$LightPink                 : #fb76cb;
$Peach                     : #f5707b;
$LightOrange               : #f28562;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Inter', sans-serif;
$titleFontFamily           : 'Ubuntu', sans-serif;
$mainLineHeight            : 1.5;

/* Breakpoints */
$mobileWidth               : 100%;
$tabletWidth               : 1024px;
$laptopWidth               : 1280px;
$desktopWidth              : 1440px;
$desktopWidth_md           : 1920px;

/* Primary colors */
$mainColor                 : $White;
$mainBackground            : $NightBlack;
$linkColor                 : $Blue;
$linkColor_hover           : $Pink;

$successColor              : $Blue;
$errorColor                : $Pink;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .6);

/* Other */
$bannerText                : #2f2f2f;
$bannerButtonBackground    : #050204;

$blockTitle                : #212c3d;
$blockText                 : #090909;
$blockText_before          : #6b5e5e;
$infoBackground            : #fff8ef;
