
#banner { position: fixed; top: 65px; width: 100%; height: 137px; background: $Pink; transition: all .6s ease-in-out; @include z-index('banner');
  &.top { top: 0; }
  &.hidden { display: none; }

  .container { height: 137px;
    .banner { display: flex; flex-direction: column; justify-content: center;
      &__close { position: absolute; top: 20px; right: 20px; @include z-index('close');
        a { color: $NightBlack; display: flex; justify-content: center; align-items: center;
          svg { width: 22px; height: 18px; stroke: $NightBlack; flex: none; }
        }
      }

      &-image { position: absolute;
        &__left { display: none; }
        &__right { top: -1px; right: 0; }

        img { width: 43px; height: 48px; }
      }

      &__title { margin-bottom: .375rem; color: $bannerText; font: 500 20px/24px $titleFontFamily; text-transform: uppercase; }
      &__text p { color: $bannerText; line-height: 17px; }
      &__button { margin-top: .75rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .banner {
        &-image {
          img { width: 92px; height: 102px; }
        }

        &__title { font-size: 32px; line-height: 38px; }
      }
    }
    @media screen and (min-width: $laptopWidth) { height: 92px;
      .banner { flex-direction: row; align-items: center;
        &__close { top: 37px; right: 37px;
          a:hover svg { stroke: $White; }

          svg { stroke: $NightBlack; }
        }

        &-image {
          &__left { left: 0; top: -1.5px; display: block; }
          &__right { top: -1.5px; right: -74px; }
        }

        &__title { margin: 0 2.125rem 0 0; }
        &__text p { line-height: 24px; }
        &__button { margin: 0 0 0 2rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .banner {}
    }
  }

  @media screen and (min-width: $laptopWidth) { top: 115px; height: 92px; }
}
