
#menu { position: absolute; left: 0; top: 64px; right: 0; bottom: 0; width: 100%; height: calc(100vh - 64px); background: $mainBackground; overflow: auto; display: none; @include z-index('menu');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &.open { display: block; }

  .container { height: 100%; padding: 1.25rem; overflow-x: hidden;
    .menu { display: flex; flex-direction: column;
      ul { margin-top: 3.5625rem; display: flex; flex-direction: column; justify-content: center; align-items: center;
        li {
          &:not(:last-child) { margin-bottom: 1.25rem; }

          a { color: $White; font: 500 26px/1.2 $titleFontFamily;
            &:active, &:focus { color: $linkColor_hover; }
          }
        }
      }

      &-social { margin-top: 7.5rem; display: flex; justify-content: center; align-items: center;
        &__link { display: flex;
          &:not(:last-child) { margin-right: 1.625rem; }

          a { color: $White; display: flex;
            &:active svg, &:focus svg { fill: $linkColor_hover; }

            svg { fill: $White; flex: none;
              &.twitter { width: 35px; height: 28px; }
              &.telegram { width: 30px; height: 25px; }
              &.discord { width: 39px; height: 30px; }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $laptopWidth) {
    &.open { display: none; }
  }
}
