#banner
  .container
    .banner__close
      a(href='#' data-action='close-banner' title='Close banner')
        svg
          use(href='/image/icon/close.svg#close')
    .banner.content
      .banner-image.banner-image__left
        img(src='/image/illustration/drip.svg' alt='illustration')
      .banner__title FAIRLAUNCH IS LIVE
      .banner__text
        p Earn up to $4,500 making the highest purchase
      .banner__button
        .button.button--banner
          a(href='#' title='Buy now') Buy now
      .banner-image.banner-image__right
        img(src='/image/illustration/drip.svg' alt='illustration')
