-
  let menu = [
    { url: '#about', title: 'About', scroll: true },
    { url: '#certificates', title: 'Certificates', scroll: true },
    { url: '#roadmap', title: 'Roadmap', scroll: true },
    { url: '#how-to-buy', title: 'How to buy', scroll: true },
    { url: '#tokenomics', title: 'Tokenomics', scroll: true },
    { url: '#partners', title: 'Partners', scroll: true },
    { url: '//moneytree-1.gitbook.io', title: 'Whitepaper', target: true }
  ]

footer
  .container
    .footer.content
      .footer__main
        .footer-logo
          img(src='/image/logo.svg' alt='MoneyTree')
        .footer__text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      nav.footer-menu
        ul
          each link in menu
            li
              a(href=link.url target=(link.target === true ? '_blank' : undefined) data-action=(link.scroll === true ? 'scroll-to' : undefined) title=link.title) #{ link.title }
      .footer-social
        .footer-social__link
          a(href='//twitter.com/MoneyTree' target='_blank' title='Twitter')
            svg.twitter
              use(href='/image/icon/twitter.svg#twitter')
        .footer-social__link
          a(href='tg://resolve?domain=MoneyTree' target='_blank' title='Telegram')
            svg.telegram
              use(href='/image/icon/telegram.svg#telegram')
        .footer-social__link
          a(href='//discord.com/channels/MoneyTree' target='_blank' title='Discord')
            svg.discord
              use(href='/image/icon/discord.svg#discord')
