-
  let menu = [
    { url: '#about', title: 'About', scroll: true },
    { url: '#roadmap', title: 'Roadmap', scroll: true },
    //- { url: '#', title: 'Try' },
    { url: '#tokenomics', title: 'Tokenomics', scroll: true },
    { url: '#certificates', title: 'Certificates', scroll: true },
    { url: '#how-to-buy', title: 'How to buy', scroll: true },
    { url: '#partners', title: 'Partners', scroll: true },
    { url: '//moneytree-1.gitbook.io', title: 'Whitepaper', target: true }
  ]

header
  .container
    .header.content
      .header-logo
        a(href='/' title='MoneyTree')
          img(src='/image/logo.svg' alt='MoneyTree')
      nav.header-menu
        ul
          each link in menu
            li
              a(href=link.url target=(link.target === true ? '_blank' : undefined) data-action=(link.scroll === true ? 'scroll-to' : undefined) title=link.title) #{ link.title }
      .header-menu-bar
        a(href='#' data-action='toggle-menu' title='Open menu')
          svg
            use(href='/image/icon/menu.svg#menu')
