block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content=description)
    meta(name='theme-color' content='#ffffff')

    // icon & css
    link(rel='icon' href='/image/favicon.ico' sizes='any')
    link(rel='icon' href='/image/icon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='/image/apple-touch-icon.png')
    link(rel='manifest' href='/manifest.json')
  body
    #app
      include header
      include banner
      include menu
      main
        block content
      include footer

    // js
