-
  let menu = [
    { url: '#about', title: 'About', scroll: true },
    { url: '#roadmap', title: 'Roadmap', scroll: true },
    //- { url: '#', title: 'Try' },
    { url: '#tokenomics', title: 'Tokenomics', scroll: true },
    { url: '#certificates', title: 'Certificates', scroll: true },
    { url: '#how-to-buy', title: 'How to buy', scroll: true },
    { url: '#partners', title: 'Partners', scroll: true },
    { url: '//moneytree-1.gitbook.io', title: 'Whitepaper', target: true }
  ]

// Menu
#menu
  .container
    nav.menu.content
      ul
        each link in menu
          li
            a(href=link.url target=(link.target === true ? '_blank' : undefined) data-action=(link.scroll === true ? 'scroll-to' : undefined) title=link.title) #{ link.title }
      .menu-social
        .menu-social__link
          a(href='//twitter.com/MoneyTree' target='_blank' title='Twitter')
            svg.twitter
              use(href='/image/icon/twitter.svg#twitter')
        .menu-social__link
          a(href='tg://resolve?domain=MoneyTree' target='_blank' title='Telegram')
            svg.telegram
              use(href='/image/icon/telegram.svg#telegram')
        .menu-social__link
          a(href='//discord.com/channels/MoneyTree' target='_blank' title='Discord')
            svg.discord
              use(href='/image/icon/discord.svg#discord')
// Menu end
