
/* Index page */
#index { margin-top: 202px; z-index: -4;
  &.hidden-banner { margin-top: 65px; }

  .container { padding: 2.5rem 1.25rem 24.375rem;
    .index { height: 445.8px;
      &__illustration { position: absolute;
        &--lines { display: none;
          &-2 { left: -7px; bottom: -257px;
            img { width: 60px; height: 15px; }
          }
        }
        &--shapes { right: 12px; bottom: -112px;
          img { width: 46; height: 45px; }
        }
      }
      &__main { position: fixed; width: calc(100% - 2.5rem); }
      &__title { margin-bottom: .9375rem; }
      &__text p { line-height: 20px; }
      &__buttons { margin-top: 1.25rem; display: flex; flex-direction: column;
        .button:not(:first-child) { margin-top: 1.25rem; }
      }

      &-social { position: relative; margin-top: 3.75rem; display: flex; align-items: center;
        &__link { display: flex;
          &:first-child { margin-left: .6875rem; }
          &:not(:last-child) { margin-right: 1.625rem; }

          a { color: $White; display: flex;
            &:active svg, &:focus svg { fill: $linkColor_hover; }

            svg { fill: $White; flex: none;
              &.twitter { width: 35px; height: 28px; }
              &.telegram { width: 30px; height: 25px; }
              &.discord { width: 39px; height: 30px; }
            }
          }
        }
        &__image { position: absolute; left: 0; bottom: -43px;
          img { width: 188px; height: 23px; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .index { height: 421px;
        &__illustration {
          &--lines { position: fixed; left: -13px; top: 215px; display: block;
            &-2 { left: 465px; top: 691px; bottom: auto; z-index: -5;
              img { width: 86px; height: 22px; }
            }

            img { width: 86px; height: 22px; }
          }
          &--shapes { top: 40px; right: -40px; bottom: auto;
            img { width: 73px; height: 72px; }
          }
        }
        &__main { width: 482px; }
        &__buttons { margin-top: 2.5rem; display: flex; flex-direction: row;
          .button:not(:first-child) { margin: 0 0 0 1.875rem; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 9.3125rem 2.5rem 4.9375rem;
      .index { height: 1154px;
        &__illustration {
          &--lines { left: 3px; top: 242px;
            &-2 { left: 576px; top: 722px; z-index: -5;
              img { width: 149px; height: 37px; }
            }

            img { width: 149px; height: 37px; }
          }
          &--shapes { top: 40px; right: -192px;
            img { width: 113px; height: 112px; }
          }
        }
        &__main { width: 695px; margin-top: -5rem; }
        &__title { margin-bottom: 1.25rem; }
        &__text p { line-height: 24px; }

        &-social { margin-top: 3.5rem; // 9.5rem
          &__link a:hover svg { fill: $linkColor_hover; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index { height: 1254px; }
    }
  }

  @media screen and (min-width: $laptopWidth) { margin-top: 207px;
    &.hidden-banner { margin-top: 207px; }
  }
}

#about { box-shadow: 0 -1px 0 0 $Orange; background: $Orange; z-index: -2;
  &::before { @include pseudo; left: 0; top: -82px; width: 100%; height: 82px; background-image: url('/image/bg/about.m.svg'); background-repeat: no-repeat; z-index: -3; }

  .container { padding-top: 11.25rem;
    .about { display: flex; flex-direction: column;
      &__illustration { position: absolute; z-index: -1; display: flex; justify-content: center;
        &--tree { left: 22px; top: -493px; right: 23px;
          img { width: 275px; height: 314px; }
        }
        // &--leaves,
        &--cloud { display: none;
          &-2,
          &-3,
          &-4,
          &-5,
          &-6,
          &-7 { display: none; }
        }
        &--roots { left: -17px; top: -180px; right: 3px;
          img { width: 334px; height: 129px; }
        }
        &--lines { right: -14px; bottom: 120px; transform: rotate(90deg);
          img { width: 80px; height: 20px; }
        }
      }

      &__title { margin-bottom: .625rem; }
      &__text p { line-height: 17px;
        &:not(:last-child) { margin-bottom: 1rem; }
      }
      &__button { margin-top: 1.25rem; }

      &__image { margin: 1.25rem 4.0625rem 0 2rem;
        img { width: 100%; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .about { flex-direction: row-reverse;
        &__illustration {
          &--tree { left: 579px; top: -913px; right: 20px;
            img { width: 385px; height: 733px; }
          }
          // &--leaves {}
          &--cloud { left: 512px; top: -710px; display: block;
            &-2 { left: 760px; top: -579px; display: block;
              img { width: 161px; height: 50px; }
            }
            &-3 { left: 562px; top: -300px; display: block;
              img { width: 161px; height: 50px; }
            }
            &-4 { left: 521px; top: -892px; display: block;
              img { width: 123px; height: 40px; }
            }
            &-5 { left: 850px; top: -843px; display: block;
              img { width: 123px; height: 40px; }
            }
            &-6 { left: 571px; top: -981px; display: block;
              img { width: 123px; height: 40px; }
            }
            &-7 { left: 732px; top: -411px; display: block;
              img { width: 123px; height: 40px; }
            }

            img { width: 161px; height: 50px; }
          }
          &--roots { left: 258px; top: -181px; right: -126px;
            img { width: 571px; height: 220px; }
          }
          &--lines { right: -60px; bottom: 86px;
            img { width: 86px; height: 22px; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding-top: 22.625rem;
      .about {
        &__illustration {
          &--tree { left: 689px; top: -1638px; right: -99px;
            img { width: 731px; height: 1391px; }
          }
          // &--leaves {}
          &--cloud { left: 1026px; top: -1353px;
            &-2 { left: 820px; top: -999px;
              img { width: 247px; height: 77px; }
            }
            &-3 { left: 1062px; top: -650px;
              img { width: 247px; height: 77px; }
            }
            &-4 { left: 1021px; top: -1627px;
              img { width: 187px; height: 61px; }
            }
            &-5 { left: 777px; top: -1575px;
              img { width: 187px; height: 61px; }
            }
            &-6 { left: 1071px; top: -1481px;
              img { width: 187px; height: 61px; }
            }
            &-7 { left: 718px; top: -656px;
              img { width: 187px; height: 61px; }
            }

            img { width: 247px; height: 77px; }
          }
          &--roots { left: 388px; top: -394px; right: -117px;
            img { width: 1089px; height: 420px; }
          }
          &--lines { top: 402px; right: -165px; bottom: auto;
            img { width: 149px; height: 37px; }
          }
        }

        &__main { width: 550px; margin-right: 1.5rem; }
        &__title { margin-bottom: 2.375rem; }
        &__text p { line-height: 24px;
          &:not(:last-child) { margin-bottom: 1.25rem; }
        }
        &__button { margin: 3.625rem 0 9rem; }

        &__image { margin: -18.75rem 1.1875rem 0 -13.875rem;
          img { width: 772px; height: 1008px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 30.625rem;
      .about {
        &__illustration {
          &--tree { left: 734px; top: -1880px; right: -104px;
            img { width: 731px; height: 1391px; }
          }
          // &--leaves { left: 848px; top: -1742px; display: block;
          //   img { width: 408px; height: 922px; }
          // }
          &--cloud { left: 1026px; top: -1453px;
            &-2 { left: 820px; top: -1099px;
              img { width: 247px; height: 77px; }
            }
            &-3 { left: 1062px; top: -750px;
              img { width: 247px; height: 77px; }
            }
            &-4 { left: 1021px; top: -1727px;
              img { width: 187px; height: 61px; }
            }
            &-5 { left: 777px; top: -1675px;
              img { width: 187px; height: 61px; }
            }
            &-6 { left: 1071px; top: -1581px;
              img { width: 187px; height: 61px; }
            }
            &-7 { left: 718px; top: -756px;
              img { width: 187px; height: 61px; }
            }

            img { width: 247px; height: 77px; }
          }
          &--roots { left: 388px; top: -491px; right: -117px;
            img { width: 1089px; height: 420px; }
          }
          &--lines { top: 402px; right: -165px; bottom: auto;
            img { width: 149px; height: 37px; }
          }
        }

        &__main { width: 650px; margin-right: 3.5rem; }
        &__image { margin: -29.25rem 1.1875rem 0 -13.875rem;
          img { width: 850px; height: 1109px; }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) {
    &::before { left: -372px; top: -262px; height: 268px; background-image: url('/image/bg/about.svg'); }
  }
  @media screen and (min-width: $laptopWidth) {
    &::before { left: -180px; top: -268px; }
  }
  @media screen and (min-width: $desktopWidth_md) {
    &::before { left: 0; }
  }
}

#listing { background: $NightBlack;
  .container { padding: 4.0625rem 1.25rem 1.25rem;
    .listing {
      &__title { margin-bottom: .9375rem; }

      &-list { display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - 1.625rem) / 2); display: flex; align-items: center;
          &:nth-child(even) { margin-left: 1.625rem; }
          &:nth-child(2) a { padding-right: 1.875rem; }

          a { position: relative; height: 100%; display: flex; align-items: center;
            &::before { @include pseudo; left: 0; bottom: 12px; width: 100%; height: 4px; border-radius: 2px; background: transparent; transition: all .3s ease-out; }
            &:active::before, &:focus::before { background: $linkColor_hover; }

            img { flex: none; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .listing {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 11.25rem 2.5rem 1.875rem;
      .listing {
        &__title { margin-bottom: 3.75rem; }

        &-list { flex-wrap: nowrap; justify-content: space-between;
          &__item { width: auto;
            &:nth-child(even) { margin-left: 0; }
            &:not(:first-child) { margin-left: 2.5rem; }
            &:nth-child(2) a { padding: 0; }

            a { justify-content: center;
              &::before { bottom: 20px; height: 5px; border-radius: 2.5px; }
              &:hover::before { background: $linkColor_hover; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .listing {}
    }
  }
}

#roadmap { background: $NightBlack;
  .container { padding: 2.8125rem 1.25rem 4.0625rem;
    .roadmap { display: flex; flex-direction: column;
      &__illustration { position: absolute;
        &--lines { display: none;
          &-2 { right: 10px; bottom: 380px;
            img { width: 86px; height: 22px; }
          }
        }
        &--coin { display: none; }
      }
      &__title { margin-bottom: .9375rem; }
      &__text p { color: $LightGrey; line-height: 17px; }

      &-points { position: relative; margin: 3.3125rem 0 0 2.375rem;
        &::before { @include pseudo; left: -39px; top: 8.5px; width: 3px; height: calc(100% - 8.5px); border-radius: 1.5px; background: $Blue; }
        &::after { @include pseudo; left: -45px; bottom: 1px; width: 16px; height: 16px; margin-right: 16px; border-top: 3px solid $Blue; border-right: 3px solid $Blue; border-radius: 1.5px; transform: rotate(135deg); }

        &__item { position: relative;
          &::before { @include pseudo; left: -38px; top: 7.5px; width: 19px; height: 3px; border-radius: 1.5px; background: $Blue; }
          &:first-child::after { @include pseudo; left: -45px; top: 130px; width: 16px; height: 16px; margin-right: 16px; border-top: 3px solid $Blue; border-right: 3px solid $Blue; border-radius: 1.5px; transform: rotate(135deg); }
          &:not(:last-child) { margin-bottom: 1.25rem; }
        }
        &__label { margin-bottom: .625rem; color: $Pink; font-size: 14px; line-height: 17px;
          &::before { @include pseudo; left: -27px; top: 1px; width: 16px; height: 16px; border-radius: 50%; background: $Blue; }
        }
        &__title { margin-bottom: .5rem; }

        &-list { margin-left: 1.125rem;
          &__item { position: relative;
            &::before { @include pseudo; left: -11.5px; top: 8px; width: 4px; height: 4px; border-radius: 50%; background: $White; }

            p { color: $LightGrey; }
          }
        }
      }

      &__image { margin: 4.75rem 2rem 0 .25rem;
        img { width: 100%; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .roadmap { flex-direction: row;
        &__illustration {
          &--coin { top: 199px; right: -26px; display: block;
            img { width: 58px; height: 87px; }
          }
        }

        &__image { position: sticky; top: 169px; align-self: flex-start; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 9.375rem 2.5rem 11.25rem;
      .roadmap {
        &__illustration {
          &--lines { left: -176px; top: 1486px; display: block; transform: rotate(90deg);
            &-2 { top: 143px; right: 497px; bottom: auto;
              img { width: 149px; height: 37px; }
            }

            img { width: 149px; height: 22px; }
          }
          &--coin { top: 361px; right: -149px;
            img { width: 103px; height: 157px; }
          }
        }
        &__main { width: 828px; }
        &__title { margin-bottom: 1.25rem; }
        &__text p { line-height: 24px; }

        &-points { margin: 4.6875rem 0 0 3.25rem;
          &::before { left: -54px; width: 5px; border-radius: 2.5px; }
          &::after { left: -64px; width: 26px; height: 26px; margin-right: 26px; border-width: 5px; border-radius: 2.5px; }

          &__item {
            &::before { left: -53px; width: 28px; height: 5px; border-radius: 2.5px; }
            &:first-child::after { left: -64px; width: 26px; height: 26px; margin-right: 26px; border-width: 5px; border-radius: 2.5px; }
            &:nth-child(even) { margin-left: 12rem;
              &::before { left: -244px; width: 220px; }
            }
            &:not(:last-child) { margin-bottom: 4.375rem; }
          }
          &__label { margin-bottom: 1.25rem; font-size: 20px; line-height: 24px;
            &::before { left: -34px; top: -2px; width: 26px; height: 26px; }
          }
          &__title { margin-bottom: 1.25rem; }

          &-list { margin-left: 1.875rem;
            &__item::before { left: -16px; top: 12px; width: 6px; height: 6px; }
          }
        }

        &__image { top: 132px; margin: 12.1875rem -5.4375rem 0 4.0625rem;
          img { width: 634px; height: 800px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .roadmap {}
    }
  }
}

#tokenomics { background: $Beige;
  .container { padding: 4.0625rem 1.25rem 1.25rem;
    .tokenomics {
      &__illustration { position: absolute;
        &--lines { left: 0; top: 227px;
          &-2 { top: 78px; right: -2px;
            img { width: 57px; height: 15px; }
          }

          img { width: 49px; height: 8px; }
        }
      }
      &__title { margin-bottom: .9375rem;
        h2 { color: $blockTitle; }
      }
      &__info { display: flex; flex-direction: column; }

      &-chart { align-self: center;
        a svg { width: 198px; height: 198px; fill: $infoBackground;
          .use { stroke: $infoBackground; stroke-width: 1px; transition: all .3s ease-out; transform-origin: center;
            &-1 { fill: $Blue; }
            &-2 { fill: $Purple; }
            &-3 { fill: $Lilac; }
            &-4 { fill: $LightPink; }
            &-5 { fill: $Peach; }
            &-6 { fill: $LightOrange; }
            &-7 { fill: $Orange; }

            &:active, &:focus { transform: scale(1.02); }
          }
        }
      }

      &-transcript { margin-top: 1.3125rem; display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - .625rem) / 2); display: flex;
          &:nth-child(even) { margin-left: .625rem; }
          &:nth-child(n + 3) { margin-top: .75rem; }
        }
        &__color { width: 12px; height: 12px; border-radius: 3px; margin: .1875rem .3125rem 0 0; flex: none;
          &--blue { background: $Blue; }
          &--purple { background: $Purple; }
          &--lilac { background: $Lilac; }
          &--light-pink { background: $LightPink; }
          &--peach { background: $Peach; }
          &--light-orange { background: $LightOrange; }
          &--orange { background: $Orange; }
        }
        &__desc { color: $blockText; font-size: 14px; line-height: 1.2; }
      }

      &-info { border-radius: 10px; margin-top: 1.25rem; padding: 1.25rem; background: $infoBackground;
        &__item { color: $blockText; font-size: 14px; display: flex; flex-wrap: wrap;
          &:not(:first-child) { margin-top: .3125rem; }
        }
        &__name { width: 97px; margin-right: .625rem; font-weight: 600; }
        &__text p { color: $Orange; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .tokenomics {
        &__illustration {
          &--lines {
            &-2 {
              img { width: 86px; height: 22px; }
            }

            img { width: 86px; height: 13px; }
          }
        }
        &__main { display: flex; justify-content: space-between; align-items: center; }
        &__info { position: relative; width: calc(100% - 474px); }

        &-info { margin: 0 0 0 1.25rem; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 9.375rem 2.5rem 1.875rem;
      .tokenomics {
        &__illustration {
          &--lines { left: auto; top: 746px; right: -6px;
            &-2 { top: 63px; right: -156px;
              img { width: 149px; height: 37px; }
            }

            img { width: 149px; height: 22px; }
          }
        }
        &__title { margin-bottom: 5.125rem;
          h2 { color: $blockTitle; }
        }
        &__info { width: calc(100% - 574px); }

        &-chart a { cursor: default;
          svg { width: 448px; height: 448px;
            .use { stroke-width: 2px; cursor: pointer;
              &-1 { fill: rgb($Blue, .9);
                &:hover { fill: $Blue; }
              }
              &-2 { fill: rgb($Purple, .9);
                &:hover { fill: $Purple; }
              }
              &-3 { fill: rgb($Lilac, .9);
                &:hover { fill: $Lilac; }
              }
              &-4 { fill: rgb($LightPink, .9);
                &:hover { fill: $LightPink; }
              }
              &-5 { fill: rgb($Peach, .9);
                &:hover { fill: $Peach; }
              }
              &-6 { fill: rgb($LightOrange, .9);
                &:hover { fill: $LightOrange; }
              }
              &-7 { fill: rgb($Orange, .9);
                &:hover { fill: $Orange; }
              }

              &:hover { transform: scale(1.02); }
            }
          }
        }

        &-info { width: 534px; margin-left: 2.5rem; padding: 3.3125rem 2.25rem; flex: none;
          &__item { font-size: 20px;
            &:not(:first-child) { margin-top: .625rem; }
          }
          &__name { width: 149px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 9.375rem 2.5rem 8.875rem;
      .tokenomics {
        &-chart a {
          svg { width: 549px; height: 549px; }
        }

        &-transcript { margin: 0; display: block;
          &__item { position: absolute; width: 150px; border-bottom: 1px solid $blockText_before; padding-bottom: .75rem;
            &::before { @include pseudo; height: 1px; background: $blockText_before; }
            &:nth-child(even) { margin: 0; }
            &:nth-child(n + 3) { margin: 0; }

            &:nth-child(1) { top: 0; right: 0;
              &::before { left: -128px; bottom: -54px; width: 150px; transform: rotate(-45deg); }
            }
            &:nth-child(2) { top: 490px; right: 0;
              &::before { left: -183px; bottom: 36px; width: 190px; transform: rotate(23deg); }
            }
            &:nth-child(3) { top: 605px; right: 0;
              &::before { left: -304px; bottom: 88px; width: 330px; transform: rotate(33deg); }
            }

            &:nth-child(7) { left: 0; top: 0;
              &::before { right: -216px; bottom: -29px; width: 220px; transform: rotate(15deg); }
            }
            &:nth-child(6) { left: 0; top: 190px;
              &::before { right: -70px; bottom: 25px; width: 80px; transform: rotate(-41deg); }
            }
            &:nth-child(5) { left: 0; top: 390px;
              &::before { right: -95px; bottom: 22px; width: 100px; transform: rotate(-27deg); }
            }
            &:nth-child(4) { left: 0; top: 580px;
              &::before { right: -192px; bottom: 95px; width: 240px; transform: rotate(-53deg); }
            }
          }
          &__color { display: none; }
          &__desc { font-size: 20px; }
        }
      }
    }
  }
}

#certificates { box-shadow: 0 -1px 0 0 $Beige; background: $Beige;
  .container { padding: 2.8125rem 1.25rem 4.0625rem;
    .certificates {
      &__illustration { display: none; }
      &__title { margin-bottom: .9375rem;
        h2 { color: $blockTitle; }
      }
      &__text { margin-bottom: 1.25rem;
        p { color: $blockText; line-height: 17px; }
      }

      &-list { display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - 1.25rem) / 2);
          &:nth-child(even) { margin-left: 1.25rem; }
          &:nth-child(n + 3) { margin-top: 1.25rem; }

          a { width: 100%; height: 53px; border-radius: 10px; background: $Blue; color: $White; font: 500 32px/1.2 $titleFontFamily; text-align: center; text-transform: uppercase; display: flex; justify-content: center; align-items: center;
            &:active, &:focus { color: $NightBlack; }
          }

          &--pink a { background: $Pink; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .certificates {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.25rem 2.5rem 12.5rem;
      .certificates {
        &__illustration { position: absolute; display: block;
          &--lines { left: -215px; top: 50px; transform: rotate(-90deg);
            img { width: 149px; height: 37px; }
          }
        }
        &__title { margin-bottom: .625rem; }
        &__text { width: 650px; margin-bottom: 1.875rem;
          p { line-height: 24px; }
        }

        &-list { flex-wrap: nowrap;
          &__item { width: calc((100% - 1.25rem) / 4);
            &:nth-child(even) { margin: 0; }
            &:nth-child(n + 3) { margin: 0; }

            &:not(:first-child) { margin-left: 1.875rem; }

            a { height: 119px; font-size: 64px;
              &:hover { color: $NightBlack; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .certificates {}
    }
  }
}

#how-to-buy { background: $NightBlack;
  .container { padding: 4.0625rem 1.25rem 1.25rem;
    .how-to-buy {
      &__illustration { display: none; }
      &__title { margin-bottom: 2.25rem; }

      &-steps { margin-left: 3.8125rem; display: flex; flex-direction: column;
        &__item { position: relative; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: 2.3125rem;
            &::before { @include pseudo; left: -44.5px; top: 32px; width: 17px; height: 100%; background: $DarkBlue; }
          }
        }
        &__icon { position: absolute; left: -61px; top: -14px; border: 10px solid $DarkBlue; border-radius: 50%; padding: .4375rem; display: flex; justify-content: center; align-items: center;
          img { width: 17px; height: 17px; flex: none; }
        }
        &__count { margin-bottom: .625rem; color: $Pink; font-size: 14px; }
        &__title { margin-bottom: .5rem; }
        &__text p { color: $LightGrey; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .how-to-buy {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 11.25rem 2.5rem 1.875rem;
      .how-to-buy {
        &__illustration { position: absolute; display: block;
          &--lines { top: -32px; right: -199px;
            &-2 { left: -89px; top: 507px;
              img { width: 149px; height: 37px; }
            }

            img { width: 149px; height: 22px; }
          }
        }
        &__title { margin-bottom: 4.8125rem; }

        &-steps { position: relative; margin: 0; flex-direction: row; flex-wrap: wrap;
          &__bg { position: absolute; top: 17px; right: -43px; width: 523.5px; height: 523.5px; border: 19.25px solid $DarkBlue; border-left-color: transparent; border-top-color: transparent; border-radius: 50%; transform: rotate(-45deg); }

          &__item { width: calc((100% - 6.25rem) / 3);
            &:not(:last-child) { margin: 0;
              &::before { left: 46px; top: 17px; width: calc(100% + .5rem); height: 19px; }
            }

            &:nth-child(1) { margin-right: 3.125rem; }
            &:nth-child(2) { margin-right: 3.125rem; }
            &:nth-child(3) {
              &::before { width: 156px; }

              .how-to-buy-steps__title, .how-to-buy-steps__text { width: 338px; }
            }
            &:nth-child(4) { order: 6;
              &::before { width: 156px; }

              .how-to-buy-steps__title, .how-to-buy-steps__text { width: 338px; }
            }
            &:nth-child(5) { margin-right: 3.125rem; order: 5; }
            &:nth-child(6) { margin-right: 3.125rem; order: 4;
              &::before { @include pseudo; left: 46px; top: 17px; width: calc(100% + .5rem); height: 19px; background: $DarkBlue; }
            }
            &:nth-child(n + 4) { margin-top: 5.4375rem;
              .how-to-buy-steps__icon img { transform: rotate(90deg); }
            }
          }
          &__icon { position: static; left: 17px; top: 0; margin-bottom: 1.8125rem; align-self: flex-start;
            img { transform: rotate(-90deg); }
          }
          &__count { margin-bottom: 1.25rem; font-size: 20px; }
          &__title { margin-bottom: 1.25rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .how-to-buy {
        &-steps::before { right: -38px; width: 523.5px; height: 523.5px; }
      }
    }
  }
}

#partners { background: $NightBlack;
  .container { padding: 2.8125rem 1.25rem 4.0625rem;
    .partners {
      &__illustration { position: absolute;
        &--shapes { display: none; }
        &--lines { top: -14px; right: 28px;
          img { width: 57px; height: 15px; }
        }
      }
      &__title { margin-bottom: 1.25rem; }

      &-list { display: flex; flex-wrap: wrap; justify-content: center;
        &__item { width: calc((100% - 2.5rem) / 3); display: flex; justify-content: center;
          &:nth-child(3n + 2), &:nth-child(3n) { margin-left: 1.25rem; }
          &:nth-child(n + 4) { margin-top: 2.1875rem; }

          a { color: $LightGrey; display: flex; flex-direction: column; align-items: center;
            &:active, &:focus { color: $Pink;
              span::before { background: $linkColor_hover; }
            }

            img { width: 65px; height: 65px; }
            span { position: relative; margin-top: 1.25rem; padding-bottom: 9px; font-size: 14px;
              &::before { @include pseudo; left: 0; bottom: 0; width: 100%; height: 4px; border-radius: 2px; background: transparent; transition: all .3s ease-out; }
            }
          }
        }
      }

      &-nav { display: none; }
    }

    @media screen and (min-width: $tabletWidth) {
      .partners {
        &__illustration {
          &--lines {
            img { width: 86px; height: 22px; }
          }
        }

        &-list {
          &__item { width: calc((100% - 12.5rem) / 4);
            &:nth-child(3n + 2), &:nth-child(3n) { margin: 0; }
            &:nth-child(n + 4) { margin: 0; }

            &:nth-child(4n + 2), &:nth-child(4n + 3), &:nth-child(4n) { margin-left: 1.25rem; }
            &:nth-child(n + 5) { margin-top: 2.1875rem; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 9.375rem 2.5rem 10.5625rem;
      .partners { position: relative;
        &__illustration {
          &--shapes { left: -280px; top: -119px; display: block;
            img { width: 113px; height: 112px; }
          }
          &--lines { top: 352px; right: -97px;
            img { width: 149px; height: 37px; }
          }
        }
        &__title { margin-bottom: 4.25rem; }
        &__main { overflow: hidden; }

        &-list { flex-wrap: nowrap; justify-content: flex-start;
          &__item { width: calc((100% - 12.5rem) / 6);
            &:nth-child(4n + 2), &:nth-child(4n + 3), &:nth-child(4n) { margin: 0; }
            &:nth-child(n + 5) { margin: 0; }

            a {
              &:hover { color: $Pink;
                span::before { background: $linkColor_hover; }
              }

              img { width: 91px; height: 91px; }
              span { padding-bottom: 10px; font-size: 20px;
                &::before { height: 5px; border-radius: 2.5px; }
              }
            }
          }
        }

        &-nav { position: absolute; top: 10px; right: 0; display: flex; align-items: center;
          &__prev,
          &__next { cursor: pointer; transition: all .3s ease-out;
            &:hover svg { fill: $linkColor_hover; }

            svg { width: 52px; height: 50px; fill: $DarkBlue; transition: fill .3s ease-out; }
          }
          &__prev { margin-right: 1.875rem;
            svg { transform: rotate(180deg); }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .partners {}
    }
  }
}
